.chat {
  display: flex;
  margin-top: 20px;
}
.display-message{
    background:'pink'
}
.text-field:hover{
  border:1px solid #1976d2;
}
.display-chat{
  display:flex;
  flex-direction:column;
  align-items: flex-end;
}
.chip-class{
  width: fit-content !important;
}